{% extends 'base.jinja' %} {% block content %}

<h1 class="edit-title">Edit {{ food.name }} </h1>

<form class="edit-form" action="/food/{{ food.id }}" method="post">
    <div>
            <label class="new-form__label" for="user">Username:</label>
            <select name="user_id" id="user">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="name">Food:</label>
        <input type="text" name="name" id="name" value="{{ food.name }}">
    </div>
    <div>
        <label for="categories">Category:</label>
        <select name="category" id="category" value="{{ food.category }}">
            <option value="main">Main</option>
            <option value="fruit">Fruit</option>
            <option value="nuts">Nuts</option>
            <option value="extra nibble">Extra nibble</option>
            <option value="sweet">Sweet</option>
        </select>
    </div>
    <button class="edit-submit-btn" type="submit">Update item</button>
    <a class="edit-delete-btn" href="/food/{{ food.id }}/delete">Delete</a>
</form>

{% endblock content %}