{% extends 'base.jinja' %}{% block content %}

<h2>Not sure? Check out these <a href="/food/tips">tips</a></h2>

    <form class="form-new" action="/food/show" method="post">
        <div>
            <label for="name">Food:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="categories">Category:</label>
                <select name="category" id="category">
                    <option value="main">Main</option>
                    <option value="fruit">Fruit</option>
                    <option value="nuts">Nuts</option>
                    <option value="extra nibble">Extra nibble</option>
                    <option value="sweet">Sweet</option>
                </select>
        </div>
        <button type="submit">Add food</button>
    </form>
{% endblock content %}
