{% extends 'base.jinja' %}{% block content %}

<section class="container"> 
    <h2 class="new-title">Not sure? Check out our <span class="new-title__tips">tips</span> > <a class="new-title__link" href="/food/tips"></a></h2>

    <form class="new-form" action="/food/show" method="post">
        <div>
            <label class="new-form__label" for="name">Food:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label class="new-form__label" for="categories">Category:</label>
                <select name="category" id="category">
                    <option value="main">Main</option>
                    <option value="fruit">Fruit</option>
                    <option value="nuts">Nuts</option>
                    <option value="extra nibble">Extra nibble</option>
                    <option value="sweet">Sweet</option>
                </select>
        </div>
        <button class="new__button" type="submit">Add food</button>
    </form>

</section>

    {% for food in foods %}
        {{ food.name}}: {{ food.category}}
    {% endfor %}
    
{% endblock content %}
