{% extends 'base.jinja' %} {% block content %}

<div class="container">
    <ul class="food-list">
        <li class="food-list__items">
            {% for food in foods %}
                <a href="{{ food.id }}/edit">{{ food.name }}: {{ food.category }}</a>             
            {% endfor %}
        </li>
</div>
    
{% endblock content %}