{% extends 'base.jinja' %} {% block content %}
    
    <h1 class="tips__title">Tips</h1>

    <p class="tips__text">Text here</p>

    <ul class="tips__list">    
        <li>Probably a list</li>
        <li>Probably a list</li>
    </ul>
    
{% endblock content %}