{% extends 'base.jinja' %} {% block content %}

    <h1 class="tips__title">Tips</h1>

    <ul class="tips__barriers"><span class="tips__barriers-title">Remove barriers</span>
        <li class="tips__list-item">Make your food the day before, so you won't skip it if you're in a rush.</li>
        <li class="tips__list-item">Give yourself options - you don't have to eat everything.</li>
        <li class="tips__list-item">Pre-prepare fruit, you'll be more likely to eat it</li>
    </ul>

    <ul class="tips__list"><span class="tips__list-title">ADHD friendly foods  - high omega-3, low omega-6</span>  
        <li class="tips__list-item"><b>Nuts:</b> pistachios, almonds, cashew, walnuts, hazelnuts, pine nuts</li>
        <li class="tips__list-item"><b>Seeds:</b> sunflower, chia, flax, hemp, sesame, pumpkin</li>
        <li class="tips__list-item"><b>Berries:</b> blueberries, raspberries, acai, cranberries, goji</li>
        <li class="tips__list-item"><b>Low-glycaemic fruit:</b> avacado, tomatoes, peaches, cherries, banana</li>
        <li class="tips__list-item"><b>Complex carbs:</b> sweet potato, squash, pumpkin</li>
        <li class="tips__list-item"><b>Whole grains:</b> oats, quinoa, buckwheat, millet, brown rice, spelt pasta</li>
        <li class="tips__list-item"><b>Veg:</b> broccoli, courgette, bell peppers</li>
    </ul>

{% endblock content %}