* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  background-color: #29282A;
  color: #EDEDED;
}

li {
  list-style: none;
}

a:visited {
  color: #29282A;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}


/* Base */
.header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.menu {
  padding-right: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.menu__list {
  padding: 0, 40px;
  height: 38px;
  width: 60px;
  text-align:center;
  line-height: 38px;
  background-color: #E4A8FF;
  color: #29282A;
  border: none;
  border-radius: 8px;
}


/* Hero section */
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4A494B;
}

.hero-buttons {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.hero__button {
  height: 38px;
  width: 120px;
  text-align: center;
  line-height: 38px;
  background-color: #E4A8FF;
  color: #29282A;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}

.hero-title {
  font-family: 'Roboto Slab', serif;
  font-size: 70px;
}

.hero-title__span {
  color: #979499;
  margin-left: 20px;
}


/* New roll */
.new-roll {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.new-roll__title {
  margin: 0 30px 20px 0;
}

.new-roll__list {
  padding-left: 20px;
}

.new-roll__list li {
  padding-bottom: 10px;
}

.new-roll__list--category {
  color: #0feba9;
}

.new-roll__button {
  height: 38px;
  width: 50px;
  margin-left: 50px;
  margin-top:40px;
  text-align: center;
  background-color: #C756FB;
  color: #29282A;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

/* Add new */
.new-title {
  padding: 20px;
  font-size: 40px;
}

.new-form {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.new-title__tips {
  height: 38px;
  width: 120px;
  text-align: center;
  line-height: 38px;
  background-color: #E4A8FF;
  color: #29282A;
  border: none;
  border-radius: 8px;
  padding: 0 20px;
  text-decoration: none;
}

.new__button {
  height: 38px;
  width: 120px;
  text-align: center;
  line-height: 38px;
  background-color: #E4A8FF;
  color: #29282A;
  border: none;
  border-radius: 8px;
  margin-top: 50px;
  font-weight: bold;
}


/* Show all list */
.food-list {
  font-size: large;
}

.food-list__items a {
  color:#E4A8FF;
}

.food-list__items a:visited {
  color: #E4A8FF;
}


/* edit */

.edit-title {
  margin: 0 0 30px 170px;

}

.edit-form {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.edit-submit-btn {
  margin: 20px;
  height: 38px;
  width: 120px;
  border: none;
  border-radius: 8px;
  background-color: #E4A8FF;
  color: #29282A;
  font-size: 18px;
}

.edit-delete-btn {
  height: 38px;
  width: 60px;
  line-height: 38px;
  background-color: #E85545;
  color:#29282A;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}