<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/707e36b538.js" crossorigin="anonymous"></script>
    <title>Roll for</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  
  <body>
    <header class="header">
      <div class="header__logo">
        <i class="fa-solid fa-dice-d20 fa-2xl nav-bar__logo" style="color: #0feba9;" aria-hidden=""></i>
      </div>
      <nav>
        <ul class="menu">
          <li class="menu__list"><a href="/food">Home</a></li>
          <li class="menu__list"><a href="/food/new">Add</a></li>
          <li class="menu__list-cu"><a href="/users/all">Current User</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
      
    {% endblock content %}

  </body>
</html>
