{% extends 'base.jinja' %} {% block content %}


<section class="hero">
    <div class="container hero-wrapper">
        <img class="hero__image" src="static/dice.png" />
        <h1 class="hero-title">ROLL FOR
            <hr>
            <span class="hero-title__span">(LUNCH)</span>
        </h1>
        <p class="hero__paragraph">Simple. Quick. Tasty.</p>
    </div>
    <div class="container hero-buttons">
        <a class="hero__button" href="food/new_user">New user</a>

        <a class="hero__button" href="food/new">Add new food</a>
    </div>
</section>
<section class="container">
    <form action="/food" class="new-roll">
        <div>
            <h2 class="new-roll__title">New roll</h2>
        </div>
        <select class="new-roll__dropdown" name="user" id="user">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
        <div>
        {% if user_id %}
            <ul class="new-roll__list">
                {% for meal in meals %}
                    {% if meal %}
                        <li><b class="new-roll__list--category">{{ meal.category }}:</b> {{ meal.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <button class="new-roll__button">Roll again?</button>
        </div>
    </form>
</section>
{% if user_id %}
<div>
    <h2 class="shoppinglist-title">Shopping List:</h2>
    <ul class="shoppinglist-list">
        {% for meal in meals  %}
            <li class="shoppinglist-items">{{ meal.ingredients }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock content %}