{% extends 'base.jinja' %} {% block content %}
    
    <h1 class="hero-title">ROLL FOR <span>LUNCH</span></h1>
    <p>Simple. Quick. Tasty.</p>

    <a href="food/new_user">New User?</a>
    <a href="food/new">Add new food</a>


    
{% endblock content %}
