{% extends 'base.jinja' %}  {% block content %}

{# SHOW USER'S OWN LIST #}
    <h1>{{ user.name }}</h1>

    {% for food in foods %}
        {% if user.id == food.user_id %}
            <a href="/food/{{ food.id }}/edit">{{ food.name}}: {{ food.catergory }}</a>
        {% endif %}
    {% endfor %}


{% endblock content %}