{% extends 'base.jinja' %}  {% block content %}

    <h1 class="user-list__title">{{ user.name }}</h1>
    <ul class="user-list">
        <li class="user-list__items"><h2 class="user-list__subtitle">Main</h2>
            {% for food in foods if food.category == "main" %}
                {% if user.id == food.user_id %}
                    <a class="user-list__link" href="/food/{{ food.id }}/edit">{{ food.name }},</a>   
                {% endif %}
            {% endfor %}
        </li>
        <li class="user-list__items"><h2 class="user-list__subtitle">Fruit</h2>
            {% for food in foods if food.category == "fruit" %}
                {% if user.id == food.user_id %}
                    <a class="user-list__link" href="/food/{{ food.id }}/edit">{{ food.name}},</a>
                {% endif %}
            {% endfor %}
        </li>
        <li class="user-list__items"><h2 class="user-list__subtitle">Nuts</h2>
            {% for food in foods if food.category == "nuts" %}
                {% if user.id == food.user_id %}
                    <a class="user-list__link" href="/food/{{ food.id }}/edit">{{ food.name }},</a>   
                {% endif %}
            {% endfor %}
        </li>
        <li class="user-list__items"><h2 class="user-list__subtitle">Nibbles</h2>
            {% for food in foods if food.category == "extra nibble" %}
                {% if user.id == food.user_id %}
                    <a class="user-list__link" href="/food/{{ food.id }}/edit">{{ food.name }},</a>   
                {% endif %}
            {% endfor %}
        </li>
        <li class="user-list__items"><h2 class="user-list__subtitle">Sweet</h2>
            {% for food in foods if food.category == "sweet" %}
                {% if user.id == food.user_id %}
                    <a class="user-list__link" href="/food/{{ food.id }}/edit">{{ food.name }},</a>   
                {% endif %}
            {% endfor %}
        </li>
    </ul>
    <a class="user-delete-btn" href="/users/{{ user.id }}/edit">Update / Delete User</a>

{% endblock content %}