{% extends 'base.jinja' %} {% block content %}
    
    {# for SELECTED user in users #}
    {# display random from each category #}
    {# display shopping list #}


{% endblock content %}

    {# Then I guess remember to take it off the home page #}